<main class="main">
  <img
    class="main__image"
    src="./assets/images/logo-awesome-profile-cards.svg"
    alt=""
  />
  <section class="main__text">
    <h1 class="main__text--title">Crea tu tarjeta de visita</h1>
    <p class="main__text--paragraph">
      Crea mejores contactos profesionales de forma fácil y cómoda
    </p>
  </section>

  <section>
    <ul class="main__section">
      <li class="main__section--list">
        <i class="main__section--icon fal fa-object-ungroup"></i>
        <p>diseña</p>
      </li>
      <li class="main__section--list">
        <i class="main__section--icon far fa-keyboard"></i>
        <p>rellena</p>
      </li>
      <li class="main__section--list">
        <i class="main__section--icon fas fa-share-alt"></i>
        <p>comparte</p>
      </li>
    </ul>
  </section>

  <a href="../card.html"><button class="main__button">comenzar</button></a>
</main>
