<section class="section1">
  <button class="section1__reset">
    <i class="far fa-trash-alt"></i>
    <p class="section1__reset--text">Reset</p>
  </button>

  <article class="section1__card">
    <h1 class="section1__card--userName">Nombre apellido</h1>
    <h2 class="section1__card--job">Front developer</h2>
    <img src="" alt="" />
    <nav>
      <ul class="section1__card--bar">
        <li><i class="fa-solid fa-mobile-screen"></i></li>
        <li><i class="far fa-envelope"></i></li>
        <li><i class="fa-brands fa-linkedin-in"></i></li>
        <li><i class="fa-brands fa-github-alt"></i></li>
      </ul>
    </nav>
  </article>
</section>

<section class="section2">
  <section class="section2__design">
    <h3>Diseña</h3>
  </section>
  <section class="section2__complete"></section>
  <section class="section2__share">
    <i class="fas fa-share-alt"></i>
  </section>
</section>
