<main class="main">
  <img
    class="main__image"
    src="./assets/images/logo-awesome-profile-cards.svg"
    alt=""
  />
  <section class="main__text">
    <h1 class="main__text--title">Crea tu tarjeta de visita</h1>
    <p class="main__text--paragraph">
      Crea mejores contactos profesionales de forma fácil y cómoda
    </p>
  </section>

  <section>
    <ul class="main__icon">
      <li class="main__icon--design">diseña</li>
      <li class="main__icon--fill">rellena</li>
      <li class="main__icon--share">comparte</li>
    </ul>
  </section>

  <button class="main__button">comenzar</button>
</main>
